.itemCountContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97%;
}
.btnAgregar{
    margin-top: 10px ;
}

.itemsCountContainer{
    width: 80%;
    display: flex;
    justify-content: space-between;
}